* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #f3dfc1;
  font-family: "ff-tisa-web-pro", serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  padding: 1em;
}
h1,
h2 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #1a1c1a;
}

h1 {
  margin-top: 0;
  font-size: 6.1rem;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
}

article {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  padding: 2.5em 3.7em;
  border: 3px solid #f3cea1;
  font-size: 2rem;
}

figure {
  margin-bottom: 30px;
}
figure img {
  width: 100%;
}

p {
  margin-bottom: 1.3em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #f3dfc1;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2rem;
  font-weight: 900;
  color: #333;
}
blockquote:before {
  color: #f3cea1;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

article {
  column-count: 3;
  column-width: 200px;
  column-rule: 1px dotted #1a1c1a;
  column-gap: 40px;
}

h1,
figure,
blockquote {
  column-span: all;
}
